.roletitle {
  color: var(--light-color);
  background-color: #000;
  padding: 1.5rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.roletitle-icon {
  color: var(--secondary-color);
}

.roletitle-title {
  font-size: 1rem;
  margin-left: 1rem;
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .roletitle {
    padding: 2rem;
    margin-bottom: 0;
    width: 90%;
  }

  .roletitle-title {
    font-size: 2rem;
  }
}
