.header {
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 9999;
}

/* X-Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    background-color: var(--dark-color);
    height: 100vh;
    position: static;
  }
}
